<?xml version="1.0" ?>

<!--
#
#
#    Copyright (C) 2020  Alin Cretu
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <https://www.gnu.org/licenses/>.
#
#
-->

<settings version="1">
  <section id="plugin.video.DigiOnline.ro">
    <category id="DigiOnline.ro" label="DigiOnline.ro" help="">
      <group id="Authentication" label="Authentication">
        <setting id="AccountUser" type="string" label="Authentication User" help="">
          <level>0</level>
          <default>__DEFAULT_USER__</default>
          <constraints>
            <allowempty>false</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>Alin_Heading</heading>
          </control>
        </setting>
        <setting id="AccountPassword" type="string" label="Authentication Password" help="">
          <level>0</level>
          <default>__DEFAULT_PASSWORD__</default>
          <constraints>
            <allowempty>false</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>Alin_Heading</heading>
          </control>
        </setting>
      </group>
    </category>
    <category id="GeneralSettings" label="General settings" help="">
      <group id="Display" label="Display">
        <setting id="ShowTitleInChannelList" type="boolean" label="Show program title in channel list" help="">
          <level>0</level>
          <default>false</default>
          <control type="toogle" />
        </setting>
        <setting id="DebugEnabled" type="boolean" label="Enable debug logging" help="">
          <level>0</level>
          <default>false</default>
          <control type="toogle" />
        </setting>
      </group>
    </category>
    <category id="CachedData" label="Cached data" help="">
      <group id="RetentionIntervalDays" label="Retention interval (days)">
        <setting id="categoriesCachedDataRetentionInterval" type="integer" label="Refresh list of categories every" help="">
          <level>0</level>
          <default>90</default>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>365</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="channelsCachedDataRetentionInterval" type="integer" label="Refresh list of channels every" help="">
          <level>0</level>
          <default>30</default>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>365</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
      </group>
      <group id="RetentionIntervalMinutes" label="Retention interval (minutes)">
        <setting id="EPGDataCachedDataRetentionInterval" type="integer" label="Refresh channel EPG data every" help="">
          <level>0</level>
          <default>5</default>
          <constraints>
            <minimum>5</minimum>
            <step>1</step>
            <maximum>300</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
      </group>
    </category>    
    <category id="SimplePVRIntegration" label="Simple PVR integration" help="">
      <group id="DataFiles" label="Data file(s)">
        <setting id="PVRIPTVSimpleClientIntegration_m3u_FileRefreshTime" type="time" label="Update m3u file, daily at" help="">
          <level>0</level>
          <default>01:00</default>
          <control type="button" format="time">
            <heading>Alin_Heading</heading>
          </control>
        </setting>
        <setting id="PVRIPTVSimpleClientIntegration_EPG_FileRefreshTime" type="time" label="Update XML file, daily at" help="">
          <level>0</level>
          <default>01:10</default>
          <control type="button" format="time">
            <heading>Alin_Heading</heading>
          </control>
        </setting>
      </group>
    </category>
  </section>
</settings>

